*{
    margin: 0%;
    padding: 0%;
}
body{

    

}
.homepage-hero{
    width: 100%;
    height:748px;
    background: transparent url('./images/Blue\ bg.svg') 0% 0% no-repeat padding-box;
opacity: 1;
    position: relative;
}
.homepage-hero-content{
    
    width: 100%;
    max-width: 1118px;
    height: 634px;
    margin-right: auto;
    margin-left: auto;
    
    font-size: large;
    padding-top: 56px;
    display: flex;
    
}
.homepage-hero-content-text{
    height:634px;
    width: 583px;
    }
.homepage-hero-content-heading{
  margin-top: 126px;
    text-align: left;
    font: normal normal bold 35px/50px Open Sans;
    letter-spacing: 1.44px;
    color: #FFFFFF;
    opacity: 1;
    line-height: 1.325;

}
.homepage-hero-content-subtext{
 margin-top: 25px;
    text-align: left;
    text-align: left;
 
    font: normal normal 300 20px/38px Open Sans,sans-serif;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    opacity: 1;
    line-height: 1.5;
}
.Jewelvue{
    width: 161px;
    height: 56px;
    background: transparent url('./images/white\ logo.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    
}
.nav-item-products{
    
    width: 76px;
    height: 56px;
    text-align: center;
    font: normal normal normal 14px/61px Open Sans,sans-serif;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;


/* UI Properties */
opacity: 1;



}
a:link { 
    text-decoration: none; 
     
   }
.nav-item-features{
    
width: 76px;
height: 56px;


/* UI Properties */
opacity: 1;

text-align: center;
font: normal normal normal 14px/61px Open Sans,sans-serif;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}

.nav-item-gallery{
   
width: 76px;
height: 56px;

/* UI Properties */

text-align: center;
font: normal normal 300 14px/61px Open Sans,sans-serif;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
.nav-item-pricing{
   
width: 76px;
height: 56px;

/* UI Properties */
text-align: center;
font: normal normal 300 14px/61px Open Sans,sans-serif;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
margin-bottom: 4px;
text-decoration: none !important;
}
.nav-item-company{
    
    
width: 76px;
height: 56px;

/* UI Properties */
text-align: center;
font: normal normal 300 14px/61px Open Sans,sans-serif;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
margin-bottom: 10px;

}
.nav-list-right{
    display: flex;
    justify-content: flex-end;
    width: fit-content;
    height: 56px;
    
}

button{
    box-sizing: unset;
   
}

.nav-item-demopage{
   margin-top:13px;
margin-right :31px;
width: 105px;
height: 31px!important;

border: 2px solid #FFFFFF;
border-radius: 5px;
background: local;
margin-left: 16px;

font: normal normal bold 14px/19px Open Sans,sans-serif;
letter-spacing: 1.5px;
color: #FFFFFF;
text-transform: uppercase;


}
.Request-Demo-Button{
  
   width: 125px;
   height: 35px;
    border-radius: 2px;
    /* UI Properties */
 
    background: #F17615 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    text-align:center;
    cursor: pointer;
    margin-right: 78px;
    margin-top: 12px;
    padding-left:10px;
    padding-right: 10px;
   border: none;
   
   font: normal normal bold 14px/19px Open Sans,sans-serif;
   letter-spacing: 1px;
   color: #FFFDFD;
   text-transform: uppercase;
   opacity: 1;
}
.navbar{
    position:fixed;

width: 100%;
height: 56px;
z-index: 1;

display: flex;
justify-content:space-between;



opacity: 1;
}
.nav-list{
text-transform: uppercase;
margin-left: 60px;
width: 511px;
height: 56px;
/* UI Properties */
opacity: 1;
display: flex;
justify-content: space-between;
text-decoration: none;
}


.get-started-button{
    width: 122px;
    height: 35px;
 
    background: #F17615 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
margin-top: 30px;
text-align: center;
font: normal normal bold 14px/19px Open Sans,sans-serif;
letter-spacing: 1.5px;
color: #FFFDFD;
text-transform: uppercase;
opacity: 1;
border: none;


}
.test-our-demo-button{
    width: 148px;
height: 35px;
border: 2px solid #FFFFFF;
border-radius: 5px;
background: local;
margin-left: 16px;

font: normal normal bold 14px/19px Open Sans,sans-serif;
letter-spacing: 1.5px;
color: #FFFFFF;
text-transform: uppercase;

}
.homepage-hero-image{
    width: 533px;
    height:634px;
   }

   .info-div{
    width:100%;
    height: 333px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #707070;
border-radius: 5px;
opacity: 1;
   }
   .features-div{
    width: 100%;
    height: 509px;
    background: #FEF8EF 0% 0% no-repeat padding-box;
opacity: 1;
   }
   .video-div{
    width:100%;
height: 546px;

background: #FFFFFF 0% 0% no-repeat padding-box;
opacity: 1;
   }
   .brand-content{
    width: 100%;
    height: 396px;
   
    background: #FEF8EF 0% 0% no-repeat padding-box;
    opacity: 1;
   }
.steps-div{
    width: 100%;
height: 438px;

background: #FFFFFF 0% 0% no-repeat padding-box;
opacity: 1;
}
.footer{
    width: 100%;
height: 300px;

background: #000A2D 0% 0% no-repeat padding-box;
opacity: 1;
}
