*{
    margin: 0%;
    padding: 0%;
}
body{

    

}
.homepage-hero{
    width: 100%;
    height:748px;
    background: transparent url('./images/Blue\ bg.png') 0% 0% no-repeat padding-box;
opacity: 1;
    position: relative;
}
.homepage-hero-content{
    
    width: 100%;
    max-width: 1118px;
    height: 634px;
    margin-right: auto;
    margin-left: auto;
    
    font-size: large;
    padding-top: 56px;
    display: flex;
    
}
.homepage-hero-content-text{
    height:634px;
    width: 583px;
    
    
}
.homepage-hero-content-heading{
  margin-top: 126px;
    text-align: left;
font: normal normal normal 35px/50px Open Sans;
letter-spacing: 1.44px;
color: #FFFFFF;
opacity: 1;

}
.homepage-hero-content-subtext{
 margin-top: 50px;
    text-align: left;
font: normal normal 300 25px/38px Open Sans;
letter-spacing: 0.5px;
color: #FFFFFF;
opacity: 1;
}
.Jewelvue{
    width: 161px;
    height: 56px;
    background: transparent url('./images/white\ logo.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    
}
.nav-item-products{
    
    width: 83px;
    height: 56px;
    text-align: center;
    font: normal normal normal 14px/61px Open Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;


/* UI Properties */
opacity: 1;



}
a:link { 
    text-decoration: none; 
     
   }
.nav-item-features{
    
width: 70px;
height: 56px;


/* UI Properties */
opacity: 1;

text-align: center;
font: normal normal normal 14px/61px Open Sans;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}

.nav-item-gallery{
   
width: 76px;
height: 56px;
margin-bottom: 4px;
/* UI Properties */

text-align: center;
font: normal normal 300 14px/61px Open Sans;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
.nav-item-pricing{
   
width: 74px;
height: 56px;

/* UI Properties */
text-align: center;
font: normal normal 300 14px/61px Open Sans;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
margin-bottom: 4px;
text-decoration: none !important;
}
.nav-item-company{
    
width: 96px;
height: 56px;

/* UI Properties */
text-align: center;
font: normal normal 300 14px/61px Open Sans;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
margin-bottom: 10px;

}
.nav-list-right{
    display: flex;
    justify-content: flex-end;
    width: 290px;
    height: 56px;
    
}

button{
    box-sizing: unset;
   
}

.nav-item-demopage{
   margin-top:13px;
margin-right :20px;
width: 105px;
height: 31px!important;
text-align: center;
background: local;
letter-spacing: 0px;
color: #FFFFFF;
text-transform: uppercase;
opacity: 1;
border: 1px solid #FFFFFF;
border-radius: 5px;
opacity: 1;

}
.Request-Demo-Button{
  
   width: 141px;
   height: 35px;
    border-radius: 2px;
    /* UI Properties */
 
    background: #F17615 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    text-align:center;
    cursor: pointer;
    margin-right: 78px;
    margin-top: 12px;
    
   border: none;
    font: normal normal bold 14px/19px Open Sans;
    letter-spacing: 0px;
    color: #FFFDFD;
    text-transform: uppercase;
    opacity: 1;
}
.navbar{
    position:fixed;

width: 100%;
height: 56px;
z-index: 1;

display: flex;
justify-content:space-between;



opacity: 1;
}
.nav-list{

margin-left: 70px;
width: 640px;
height: 56px;
/* UI Properties */
opacity: 1;
display: flex;
justify-content: space-between;
text-decoration: none;
}
.dash-text{
    position: absolute;
    top: 138px;
left: 147px;
width: 871px;
height: 146px;

color: var(--unnamed-color-ffffff);
text-align: left;
font: normal normal normal 53px/73px Open Sans;
letter-spacing: 2.17px;
color: #FFFFFF;
opacity: 1;
}
.dash-subtext{
    position: absolute;
    top:328px;
left: 147px;
width: 813px;
height: 85px;
/* UI Properties */

text-align: left;
font: normal normal 300 35px/38px Open Sans;
letter-spacing: 0.7px;
color: #FFFFFF;
opacity: 1;

}
.get-started-button{
    width: 122px;
    height: 35px;
 
    background: #F17615 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
margin-top: 42px;
text-align: center;
font: normal normal bold 14px/19px Open Sans;
letter-spacing: 0px;
color: #FFFDFD;
text-transform: uppercase;
opacity: 1;
border: none;


}
.test-our-demo-button{
    width: 145px;
height: 35px;
border: 2px solid #FFFFFF;
border-radius: 5px;
background: local;
margin-left: 56px;

font: normal normal bold 14px/19px Open Sans;
letter-spacing: 0px;
color: #FFFFFF;
text-transform: uppercase;

}
.homepage-hero-image{
    width: 533px;
    height:634px;
   

}

.dropdown-image{
    position:absolute;
    top: 125px;
left: 1560px;
width: 180px;
height: 171px;
background: transparent url('images/Dropdown.png') 0% 0% no-repeat padding-box;
opacity: 1;
    
}

.info-div{
   position: relative;
    /* Layout Properties */

width:100%;
height: 262px;
/* UI Properties */

background: #FFFFFF 0% 0% no-repeat padding-box;

opacity: 1;
}
.info-div-1{
    position:absolute;
    top: 19px;
    left: 328px;
width: 345px;
height: 80px;
}
.info-div-2{
    position: absolute;
    top: 19px;
left: 755px;
width: 403px;
height: 80px;
}
.info-div-3{
    position:absolute;
    top:19px;
left: 1240px;
width: 353px;
height: 80px;
}
.info-div-1,.info-div-2,.info-div-3{
    text-align: center;
font: normal normal normal 30px/39px Open Sans;
letter-spacing: 0px;
color: #000A2D;
opacity: 1;
}
.info-div-1-image{
    position: absolute;
    top:111.64px;
left: 375px;
width: 236px;
height: 131px;
background: transparent url('images/undraw_asset_selection_re_k5fj.png') 0% 0% no-repeat padding-box;
opacity: 1;

}
.info-div-2-image{
    position: absolute;
    top: 111.64px;
left: 847px;
width: 189px;
height: 131px;
background: transparent url('images/undraw_augmented_reality_re_f0qd.png') 0% 0% no-repeat padding-box;
opacity: 1;
}
.info-div-3-image{
    position: absolute;
    top: 111.64px;
left: 1305px;
width: 223px;
height: 129px;
background: transparent url('./images/undraw_portfolio_update_re_jqnp.png') 0% 0% no-repeat padding-box;
opacity: 1;
}
.features-div{
    position: relative;

width: 100%;
height: 509px;
/* UI Properties */
background: var(--unnamed-color-fef8ef) 0% 0% no-repeat padding-box;
background: #FEF8EF 0% 0% no-repeat padding-box;
opacity: 1;
}
.features-div-text{
    position: absolute;
    top: 31px;
left: 140px;
width: 1640px;
height: 139px;
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) 53px/var(--unnamed-line-spacing-66) var(--unnamed-font-family-open-sans);
color: var(--unnamed-color-000a2d);
text-align: center;
font: normal normal 600 53px/66px Open Sans;
letter-spacing: 3.44px;
color: #000A2D;
text-transform: uppercase;
opacity: 1;
}
.features-box-1{
    position: absolute;
    top: 224px;
left: 182px;
width: 212px;
height: 140px;

background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #818181;
border-radius: 5px;
opacity: 1;
}
.features-box-2{
    position: absolute;
    top: 224px;
left: 628px;
width: 212px;
height: 140px;
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
border: 1px solid var(--unnamed-color-818181);
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #818181;
border-radius: 5px;
opacity: 1;
}
.features-box-3{
    position: absolute;
    top: 224px;
left: 1091px;
width: 212px;
height: 140px;
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
border: 1px solid var(--unnamed-color-818181);
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #818181;
border-radius: 5px;
opacity: 1;
}
.features-box-4{
    position: absolute;
    top: 224px;
left: 1533px;
width: 212px;
height: 140px;
/* UI Properties */
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
border: 1px solid var(--unnamed-color-818181);
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #818181;
border-radius: 5px;
opacity: 1;
}
.features-box-1,.features-box-2,.features-box-3,.features-box-4{
  justify-content: center;
text-align: center;
font: normal normal 600 27px/35px Open Sans;
letter-spacing: 0.22px;
color: #F17615;
opacity: 1;
}
.features-box-1-text,.features-box-2-text,.features-box-3-text{
   justify-content: center;
   position: absolute;
    top: 36px;
   }
   .features-box-1-text{
    left: 26px;
   }
   .features-box-4-text{
    position: absolute;
    bottom: 18px !important;
   }
   .features-box-1-btext{
    position:absolute;
    top: 378px;
left: 140px;
width: 295px;
height: 121px;

text-align: center;
font: normal normal normal 20px/30px Open Sans;
letter-spacing: 0.82px;
color: #818181;
opacity: 1;
   }
   .features-box-2-btext{
    position: absolute;
    top: 378px;
left: 567px;
width: 333px;
height: 121px;
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 20px/30px var(--unnamed-font-family-open-sans);
color: var(--unnamed-color-818181);
text-align: center;
font: normal normal normal 20px/30px Open Sans;
letter-spacing: 0.82px;
color: #818181;
opacity: 1;
   }
   .features-box-3-btext{
    position: absolute;
    top: 378px;
left: 1056px;
width: 333px;
height: 121px;

text-align: center;
font: normal normal normal 20px/30px Open Sans;
letter-spacing: 0.82px;
color: #818181;
opacity: 1;
   }
   .features-box-4-btext{
    position: absolute;
    top: 378px;
left: 1498px;
width: 333px;
height: 121px;

text-align: center;
font: normal normal normal 20px/30px Open Sans;
letter-spacing: 0.82px;
color: #818181;
opacity: 1;
   }

   .our-features{
    position: absolute;
    top: 553px;
left: 770px;
width: 380px;
height: 46px;
/* UI Properties */
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 34px/46px var(--unnamed-font-family-open-sans);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-000000);
text-align: center;
text-decoration: underline;
font: normal normal bold 34px/46px Open Sans;
letter-spacing: 0px;
color: #000000;
opacity: 1;
   }
.video-div{
    position: relative;
width:100%;
height:546px;

}
.why-jewelvue{
    position: absolute;
    top: 25px;
left: 225px;
width: 1424px;
height: 73px;
/* UI Properties */
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) 53px/73px var(--unnamed-font-family-open-sans);
color: var(--unnamed-color-000a2d);
text-align: center;
font: normal normal 600 53px/73px Open Sans;
letter-spacing: 4.77px;
color: #000A2D;
text-transform: uppercase;
opacity: 1;
}
.video{
    position: absolute;
    top: 128px;
left: 117px;
width: 732px;
height: 486px;

background: #E5E5E5 0% 0% no-repeat padding-box;
border-radius: 5px;
opacity: 1;
}
.video-content{
    position: absolute;
    width:873px;
    height: 389px;
    top: 131px;
    right:135px;
}
.video-heading{
    text-align: left;
font: normal normal normal 40px/73px Open Sans;
letter-spacing: 0px;
color: #818181;
}
p{
    text-align: left;
    font: normal normal 300 30px/47px Open Sans;
    letter-spacing: 0px;
    color: #797777;
    
}
.request-demo-video{
    position: absolute;
    top: 535px;
left: 912px;
width: 328px;
height: 77px;
border: 3px solid var(--unnamed-color-f17615);
border: 3px solid #F17615;
border-radius: 5px;
opacity: 1;
text-align: center;
font: normal normal bold 35px/47px Open Sans;
letter-spacing: 0px;
color: #F17615;
text-transform: uppercase;
opacity: 1;
cursor: pointer;
}
.our-product{
    position: absolute;
    top: 550px;
left: 1285px;
    text-align: left;
text-decoration: underline;
font: normal normal bold 35px/47px Open Sans;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
.brand-content{
    position: relative;
    width: 100%;
height: 396px;
background: #FEF8EF 0% 0% no-repeat padding-box;
opacity: 1;
}
.brand-content-heading{
    position: absolute;
    top:16px;
left: 709px;
width: 503px;
height: 55px;
/* UI Properties */

text-align: center;
font: normal normal 600 40px/55px Open Sans;
letter-spacing: 0.4px;
color: #818181;
text-transform: uppercase;
opacity: 1;
}
.steps-div{
    position: relative;
    width: 100%;
height: 438px;
background: #FFFFFF 0% 0% no-repeat padding-box;
opacity: 1;
}
.steps-div-heading{
    position: absolute;
    top: 47.45px;
left: 239px;
text-align: center;
font: normal normal 600 53px/73px Open Sans;
letter-spacing: 3.44px;
color: #000000;
opacity: 1;
}
.step-1,.step-2,.step-3{
    padding-top: 10px;
    position: absolute;
    width: 382px;
height: 196px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #707070;
border-radius: 5px;
opacity: 1;
text-align: center;
font: normal normal 300 35px/47px Open Sans;
letter-spacing: 0px;
color: #000A2D;
opacity: 1;
}
.step-1{
    top: 191px;
left: 329px;
}
.step-2{
    top: 191px;
left: 793px;
}
.step-3{
    top: 191px;
left: 1297px;
}
.step-1-circle,.step-2-circle,.step-3-circle{
    position: absolute;
    background: #000A2D 0% 0% no-repeat padding-box;
border: 1px solid #707070;
opacity: 1;
width: 55px;
height: 55px;
top: 171px;
font: normal normal normal 20px/27px Open Sans;
text-align: center;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
border-radius: 50%;
}
.step-1-circle{
left: 303px;
}
.step-2-circle{
    left: 768px;
}
.step-3-circle{
    right: 600px;
}
.steps-div>.Request-Demo-Button{
    top: 472px;
left: 567px;
width: 328px;
height: 77px;
/* UI Properties */
background: var(--unnamed-color-f17615) 0% 0% no-repeat padding-box;
background: #F17615 0% 0% no-repeat padding-box;
border-radius: 5px;
opacity: 1;
}
.Explore-Our-Gallery-Button{
    position: absolute;
    top: 472px;
left: 937px;
width: 460px;
height: 77px;
border: 3px solid var(--unnamed-color-000a2d);
border: 3px solid #000A2D;
border-radius: 5px;
opacity: 1;
text-align: center;
font: normal normal bold 35px/47px Open Sans;
letter-spacing: 0px;
color: #000A2D;
text-transform: uppercase;
background-color: #FFFFFF;
opacity: 1;
}
.footer{
    width: 100%;
height: 452px;
position: relative;
background: #000A2D 0% 0% no-repeat padding-box;
opacity: 1;;
}
.pages,.Company-footer,.Careers,.Contact-Us{
    position: absolute;
    text-align: left;
font: normal normal normal 31px/42px Open Sans;
letter-spacing: 0px;
color: #FFFDFD;
opacity: 1;
top: 66px;
}
.pages{
    margin-left: 424px;
}
.Company-footer{
    margin-left: 681px;
}
.Careers{
margin-left: 968px;
}
.Contact-Us{
    margin-left: 1382px;
}
